<div class="container">
    
  
  

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img class="img" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
           About my..
          </mat-panel-title>
    </mat-expansion-panel-header>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-expansion-panel>
    
    </mat-card-content>
</mat-card>
<h2>Recent Projects</h2>
<h4>angjangbkñj gfkbsjgskjbntijnbtrsn aijbñsgi jaijbvoti jtbo si</h4>
<div class="container-cards">
  <div class="row">
    <div col-12>
      <div class="card-columns">
        <div class="card-conteiner">
          <div class="card">
            <img src="https://media.istockphoto.com/id/1402485839/es/foto/fondo-verde-naturaleza-borrosa.jpg?b=1&s=170667a&w=0&k=20&c=X8A2r8UnHbXvEuJ9vL4I9C-C_sE7x3XrPTro2OItVmw=">
 
          </div>
        </div>
        <div class="card-conteiner">
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2023/07/07/12/44/ruddy-shelduck-8112479_640.jpg">
          </div>
        </div>
        <div class="card-conteiner">
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2023/06/12/16/41/wild-bee-8058943_640.jpg"> 
          </div>
        </div>
        
        <div class="card-conteiner">
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2023/07/08/22/05/cabbage-8115231_640.jpg">       
          </div>
        </div>
       
        <div class="card-conteiner">
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2023/07/05/04/45/european-shorthair-8107433_640.jpg">       
          </div>
        </div>
       
        <div class="card-conteiner">
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2023/07/02/17/02/man-8102619_640.jpg">       
          </div>
        </div>
       
        <div class="card-conteiner">
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2023/07/11/08/50/fireworks-8119898_640.jpg"> 
          </div>
        </div>
        <div class="card-conteiner">
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2023/06/25/13/19/woman-8087286_640.jpg"> 
          </div>
        </div>
        <div class="card-conteiner">
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2023/07/10/14/41/bird-8118490_640.jpg"> 
          </div>
        </div>
       
        <div class="card-conteiner">
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2023/07/01/18/56/dog-8100754_640.jpg"> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








  
  
</div>